.classpath
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/nmdp_speech_kit.xml
.idea/libraries/nmdp_speech_kit2.xml
.idea/libraries/nmdp_speech_kit3.xml
.idea/libraries/nmdp_speech_kit4.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.project
.idea/workspace.xml
.settings/org.eclipse.jdt.core.prefs
bin/com/nuance/nmdp/sample/AppInfo.class
bin/com/nuance/nmdp/sample/DictationView$SavedState.class
bin/com/nuance/nmdp/sample/DictationView.class
bin/com/nuance/nmdp/sample/ListeningDialog.class
bin/com/nuance/nmdp/sample/MainView.class
bin/com/nuance/nmdp/sample/R$array.class
bin/com/nuance/nmdp/sample/R$attr.class
bin/com/nuance/nmdp/sample/R$drawable.class
bin/com/nuance/nmdp/sample/R$id.class
bin/com/nuance/nmdp/sample/R$layout.class
bin/com/nuance/nmdp/sample/R$raw.class
bin/com/nuance/nmdp/sample/R$string.class
bin/com/nuance/nmdp/sample/R.class
bin/com/nuance/nmdp/sample/TtsView$SavedState.class
bin/com/nuance/nmdp/sample/TtsView.class
bin/jarlist.cache
gen/com/nuance/nmdp/sample/BuildConfig.java
gen/com/nuance/nmdp/sample/R.java
gen/com/nuance/nmdp/sample/Manifest.java
*.class
project.properties
stenolistener2.iml
out/production/stenolistener2/stenolistener2.unaligned.apk
out/production/stenolistener2/stenolistener2.apk